{% extends 'base.html' %}

{% load static %}

{% block title %}Bienvenido a K & V M{% endblock title %}

{% block content %} 
<h1>Bienvenido a K & V M</h1>
<div class="espacio_1">
    <h1>Somos</h1>
    <h2>Somos una empresa formada por dos ingenieros civiles informáticos con más de 25 años
        de experiencia en creación, desarrollo, implementación y gestión de soluciones
        informáticas, tanto en el sector público como privado.</h2>
    <div>
        <h1>Nos distingue</h1>
    </div>
    <div>
        <h2>Experiencia</h2>
        <h2>Motivación</h2>
        <h2>Creación</h2>
        <h2>Gestión</h2>
        <h2>Iniciativa</h2>
        <h2>Empuje</h2>
        <h2>Responsabilidad</h2>
    </div>
</div>
<div class="espacio_2">
    <h1>Socios</h1>
    

<div class="contenedor-columnas">
    <div class="columna1">
        <img src="{% static 'images/perfil1.jpg' %}" alt="Imagen 1">
        <div class="info">
            <p>Karyna Pilar</p>
            <p>Castro Araya</p>
            <p>Ingeniero civil en computación e informática</p>
            <div>
                <p>Universidad Católica del Norte (ICCI)</p>
            </div>
            <div>
                <p>Universidad de Chile (Diplomado)</p>
            </div>
            <div>
                <p>Trayectoria en empresa privada y pública en desarrollo de
                    soluciones y gestión de proyectos TI</p>
            </div>
        </div>
    </div>
    <div class="columna2">
        <img src="{% static 'images/perfil2.jpg' %}" alt="Imagen 2">
        <div class="info">
            <p>Ana Maria</p>
            <p>Valencia Maureira</p>
            <p>Ingeniero civil en computación e informática</p>
            <div>
                <p>Universidad de Chile (IECI)</p>
            </div>
            <div>
                <p>Universidad Tecnológica Metropolitana (ICCI)</p>
            </div>
            <div>
                <p>Universidad Diego Portales (MBA)</p>
            </div>
            <div>
                <p>Trayectoria en empresa privada y pública en gestión de
                    proyectos TI</p>
            </div>

        </div>
    </div>
</div>
</div>
<div class="espacio_3">
    <h1>Nos dedicamos a…</h1>
    <div>
        <h2>Qué hacemos:</h2>
    </div>
    <div>
        <p>Convertir las necesidades de nuestros clientes en soluciones informáticas de valor para sus procesos de negocio, con ideas innovadoras
            y tecnología de punta.</p>
    </div>
    <div>
        <p>Soporte y Mejora contínua a soluciones desarrolladas</p>
    </div>
    <h1>Cómo:</h1>
    <div>
        <p>1. Haciéndonos parte de la necesidad de nuestros clientes y socios tecnológicos</p>
    </div>
    <div>
        <p>2. Planificando y gestionando el proyecto</p>
    </div>
    <div>
        <p>3. Implementando con estándares de calidad</p>
    </div>
    
    <h1>Mediante:</h1>
    <div>
        <p>Equipo de profesionales de primer nivel y alto nivel de respeto y trabajo en equipo</p>
    </div>
    <div>
        <p>Utilización de metodologías y herramientas de gestión y desarrollo de software</p>
    </div>


</div>

<div class="espacio_4">
    <h1>Somos</h1>
    
    <div>
        <p>Nos inspira y distingue la capacidad de entender la problemática de nuestros
            clientes para brindar servicios y soluciones de TI que aporten valor a sus procesos
            y que se encuentren alineados con las nuevas tecnologías, leyes y decretos que
            impulsan la transformación digital tanto a nivel nacional como internacional.</p>
    </div>
</div>
<div class="espacio_5">
    <h1>Nuestra visión</h1>
    
    <div>
        <p>Queremos ser una empresa que inspire confianza, seguridad y agilidad en la
            entrega de nuestros servicios, desarrollos e implementaciones, de manera que nos
            vean como un socio para enfrentar los desafíos en el ámbito de soluciones
            tecnológicas.</p>
    </div>
</div>            
<div class="espacio_6">
    <h1>TENLINE (low code)</h1>
    
    <div>
        <p>Es una solución tecnológica que aborda la automatización de procesos, brindando
            una capa de integración con JBPM que, mediante Tenline permite la
            configuración 100% del flujo de trabajo, lo que contempla formularios de trabajo,
            ingreso de SLAs, validaciones y reglas de negocio, plantillas de documentos y
            correos e integraciones con otros sistemas. Además cuenta con la integración con
            clave única, firma electrónica del estado e integración con DDU.</p>
    </div>
</div>            
{% endblock content %}
